
/* GLOBAL STYLES */
/* Global meaning accross the whole website. */
h1, h2, h3, h4, h5, h6 {
  /* color:red; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  margin-top: 10px;
  /* text-transform: uppercase; */
}
/* h1 {
  color: blue;
} */

h2 {
  font-size: 2.2em;
  /* 16px = 1em */
  line-height: 1.3em;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1em;
}

/* .merry {
  font-family: 'Merriweather', serif;

} */

.color-text-white {
  color: white;
}

/* Changing the size of the icons */
.siz {
  font-size: 30px;
  margin-left: 5px;
  margin-right: 5px;
}
/* I went with making a new class for the icons rather than reusing fab, since it is kinda scary reusing a fontawesome class. */

.btn-primary {
  background-color: #6c547d;
  border: 0;
}
.btn-primary:hover {
  background: #8a69a2;
}
/* Changing the hover background color to be different from that of the default. */
/* Changing Bootstrap's button to be purple-ish and without a border. */
/* END OF GLOBAL SECTION */

/* HOMEPAGE NAV */
.navbar {
  margin-bottom: 0px;
  border-radius: 0;
  border: 0;
}
.navbar-default {
  background: #ffffff;
  /* #000000 */
  /* bootstrap style */
}
.navbar-brand {
  padding-top: 12px;
}
.navbar-brand h1 {
  color:#000000;
  /* #ffffff */
  font-family: 'Oswald', sans-serif;
  margin-top: 0;
  font-size: 26px;
  transition: color .2s ease-in;
  /* 3-4 properties: things to change, time, curve */
  /* all, color */
  /* time in seconds, having it at .4s makes for a nice effect */
  /* linear,even, ease-in, ease-out */
}
.navbar-brand h1:hover {
  /* color:#c72c72; */
  color: #1b00ff;
  /* testing something stupid with the transition here... */
  /* font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1em; */
}
.clickme {
  transition: all .4s ease-in;
}
.clickme:hover {
  background-color: rgb(30, 140, 179);
}

/* HOMEPAGE JUMBOTRON */
.jumbotron {
  margin-bottom: 0px;
  /* color: #39fce9; */
  /* color: #1b2c3f; */
}
.home-jumbo {
  /* background-color: rgb(36, 151, 163); */
  /* background-color: rgb(30, 140, 179); */
  /* todo: get a uiGradient that is yellow-red or reddish-brown */
  background: #c02425; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #c02425, #f0cb35); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #c02425, #f0cb35); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-bottom: 40px;
  padding-top: 40px;
  display: flex;
  align-items: center;
  text-align: center;
}
/* END HOMEPAGE JUMBOTRON */

/* BODY THINGS */
.four-square {
  /* background: #fceabb;  */
  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to top, #fceabb, #f8b500);  */
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to top, #fceabb, #f8b500);  */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* margin-left: 60px;
  margin-right: 60px; */
  background: #c02425; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #c02425, #f0cb35); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #c02425, #f0cb35); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-bottom: 40px;
  padding-top: 40px;
  padding-left: 11px;
  padding-right: 11px;
  display: flex;
  align-items:center;
}
.bow {
  padding-bottom: 10px;
  padding-top: 30px;
}
.stern {
  padding-bottom: 30px;
  padding-top: 10px;
}

.brick {
  padding: 10px 10px 10px 10px;
  opacity: 0.3;
  transition: all .4s ease-in;
}
.brick p {
  font-family: 'Modern Antiqua', cursive;
}
.brick:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  /* Growing the sections, replace somewhere else */
  box-shadow: inset 0 0 0 2px #53a7ea;
  /* gaining an inside border */
  opacity: 1; /* This fades the font back into view.*/
}

/* Getting a 3-d shadow */
.brick-left:hover {
  /* box-shadow:
      1px 1px #fceabb,
      2px 2px #fceabb,
      3px 3px #fceabb; */
  -webkit-transform: translateX(3px);
  transform: translateX(3px);
}
.brick-right:hover {
  /* box-shadow:
      1px 1px #fceabb,
      2px 2px #fceabb,
      3px 3px #fceabb; */
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}


.dual-row-body {
  /* background: #030116; */
  background: #030116; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #030116, #c02425); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #030116, #c02425);
  /* AHAHAHAHA! That worked! */
  text-align: center;
  padding-top: 80px;
}
.squeezeme {
  margin-left: 20%;
  margin-right: 20%;
}
.dos {
  text-align: left;
  padding-top: 50px;
  padding-bottom: 60px;
}
.dos p {
  font-size: 0.7em;
  margin-right: 10%;
}
.wawa {
  color: #99ffcc;
  /* animate falling down and becoming more blue. */
  transition: all .3s ease-in;
}
.eek {
  /* animate tilting to the side. */
  transition: all .3s ease-in;
}
.doit {
  /* color: #990000; */
  color: #009900;
  /* animate movement to the right edge of div.*/
  transition: all .6s ease-in;
}
/* do wawa, eek, and doit hover effects here */
.wawa:hover {
  -webkit-transform: translateY(7px);
  transform: translateY(7px);
  color: #00afcf;
}
.eek:hover {
  /* do the swing animation? */
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  /* HALELULA IT WORKED! */
}
.doit:hover {
  -webkit-transform: translateX(25px);
  transform: translateX(25px);
}

.primary {
  background: #337ab7;
}
.primary:hover {
  background: #286090;
}
/* removed carousel container class class. */
/* END of BODY */

/* CONTACT PAGE things */
.contact-hero {
  /*  */
  background-image: url('../img/F.Modestos_water_car.jpg');
  background-attachment: fixed;
  position: relative;
  /* mobile doesn't let the above thing fly. */
  /* background-color: #EFE655; */
  padding-top: 60px;
  padding-bottom: 60px;
}
.overlay-yellow:before {

  display:block;
  /* content:"hello"; */
  content:"";
  position: absolute;
  /* showes up above/before the background image, need parent to have position: fixed */
  top: 0px;
  /* left:20px; */
  width:100%;
  height:100%;
  background: rgba(238, 229, 85, .95);
}

/* .contact-hero:before {
    display:block;
    content:"";
    position: absolute;
    width:100%;
    height:100%;
    background: rgba(238, 229, 85, .95);
} */

/* Flexbox shenigans for Contact page */
.cont-1 {
  display: flex;
  flex-wrap: wrap;
}



/* END OF CONTACT PAGE things */

/* THIS IS THE FOOTER SECTION */
.footer-section {
  background: #031116;
  padding-top: 60px;
  padding-bottom: 60px;
  color:#ffffff;
  /* center the social when extra small & small screens */
}
.footer-social {
  text-align: center;
}



.footer-social a {
  /* color: #c72c72; */
  color: #f0ff9f;
  transition: color .2s ease-in;
}
.footer-social a:hover {
  color: #ff876f;
  /* color when hovered over: white */
}
/* END OF FOOTER SECTION */


/* Media Queries re: the screen size */
/* Extra small screen is the default setting  */
/* Small Screen */
@media (min-width:768px) {
  .home-jumbo {
    /* height: 100vh; */
    /* vh = view height */
    /* like saying 100% width, but for height */
    /* min-height: 800px; */
    min-height: (100vh - 50px);
  }
}
/* MEDIUM Screen */
@media (min-width:992px) {
  .home-jumbo {
    text-align: left;
  }
  .home-jumbotron-left {
    padding-top: 100px;
  }
  .footer-social {
    text-align: left;
  }


}
/* Large screen */
@media (min-width:1200px) {


}



/* .h1 {
  font-family: 'Oswald', sans-serif;
  \the nav bar
} */

/* font-family: 'Montserrat', sans-serif; the headline*/

/* font-family: 'Roboto', sans-serif;   the paragraphs*/
/* p {
just some in-class notes
}

a {

}

.class {

}

#id {

} */
